<label><input type="text" name="page_url" value="{{options.page_url}}" #pageUrl> Page URL</label><br>
<label><input type="text" name="hash" value="{{options.hash}}" #hash> Personal hash</label><br>
<h3>Page template</h3>
<select #template>
  <option *ngFor="let template of options.allowedTemplates"
          [value]="template.value"
          [selected]="template.isActive">
    {{template.name}}
  </option>
</select><br>
<button type="button" (click)="onGeneralUpdate(pageUrl.value, hash.value, template.options.selectedIndex)">Update</button>
