

<!--Колонка1-->

<!--Первый шаг выбора сторона и размещение-->
  <div class="step2">
    <select class="sides2" name="bc-sides" id="">
      <option value="">Одна сторона</option>
      <option value="">Две стороны</option>
    </select>
    <select class="position" name="bc-sides" id="">
      <option value="">Вертикальная ориентация</option>
      <option value="">Горизонтальная ориентация</option>
    </select>
  </div>
<!--блок под инструменты над визиткой-->

  <div class="step3">

      <div class="btnlitso">
        <nav>
        <button type="button" (click)="changeTab($event, 'front')" class="frontside">Лицо</button>
        </nav>
      </div>
      <div class="btnoborot">
        <nav>
        <button type="button" (click)="changeTab($event, 'back')" [disabled]="!options.isDoubleSide" class="frontside">Оборот</button>
        </nav>
      </div>

    <select class="bc-sizes1" name="bc-sizes" id="">
      <option value="">Размер 10*8</option>
      <option value="">Размер 10*6</option>
    </select>
    <select class="bc-colors1" name="bc-colors" id="">
      <option value="">Цвет1</option>
      <option value="">цвет2</option>
    </select>
    <div class="picchoice">
      <button class="picchoice1">Изображение</button>
    </div>
  </div>






<nav>
<!--Переключатель передняя сторона-задняя сторона-->
  <button type="button" (click)="changeTab($event, 'front')">front</button>
  <button type="button" (click)="changeTab($event, 'back')" [disabled]="!options.isDoubleSide">back</button>

  <!-- Rounded switch -->
  <div class="toggle">
    <label class="switch">
      <input type="checkbox" [checked]="options.isDoubleSide" (change)="setSideNum()">
      <span class="slider"></span>
    </label>
    <span>{{options.isDoubleSide? 'Double side' : 'Single side'}}</span>
  </div>

  <card-background-editor></card-background-editor>
</nav>
