<nav>
  <button type="button" (click)="changeSide($event, 'front')">front</button>
  <button type="button" (click)="changeSide($event, 'back')" [disabled]="!options.isDoubleSide">back</button>

  <!-- Rounded switch -->
  <div class="toggle">
    <label class="switch">
      <input type="checkbox" [checked]="options.isDoubleSide" (change)="setSideNum()">
      <span class="slider"></span>
    </label>
    <span>{{options.isDoubleSide? 'Double side' : 'Single side'}}</span>
  </div>

  <card-background-editor></card-background-editor>
</nav>
