<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':(!items.length || !isTextStyling), 'active':(items.length && items[0].fontWeight=='bold')}"
  (click)="toggleStyle('fontWeight')"><b>B</b></button>
<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':(!items.length || !isTextStyling), 'active':(items.length && items[0].fontStyle=='italic')}"
  (click)="toggleStyle('fontStyle')"><i>I</i></button>

<!--text color-->
<span class="dropdown">
  <button [disabled]="!items.length"
          [ngStyle]="{'color': items.length? items[0].color : '#a8a8a8'}"><i class="glyphicon glyphicon-text-color"></i>
  </button>
  <label>
    <input type="checkbox" [disabled]="!items.length">
    <ul>
      <card-color-picker (colorSelected)="setColor($event)"></card-color-picker>
    </ul>
  </label>
</span>

<!--font-size-->
<div class="btn-group" role="group" aria-label="...">
  <button
    type="button" class="btn btn-default"
    [ngClass]="{'disabled':!items.length}"
    (click)="setFontSize('increase')"
  ><i class="glyphicon glyphicon-text-size"></i></button>
  <button
    type="button" class="btn btn-default text-decrease"
    [ngClass]="{'disabled':!items.length}"
    (click)="setFontSize('decrease')"
  ><i class="glyphicon glyphicon-text-size"></i></button>
</div>

<!--font name-->
<span class="dropdown">
  <button
    [disabled]="!items.length || !isTextStyling"
    [ngClass]="{'disabled':(!items.length || !isTextStyling)}"
  ><span>{{textFont}}</span></button>
  <label>
    <input type="checkbox" [disabled]="!items.length || !isTextStyling">
    <ul *ngIf="items.length">
      <li *ngFor="let font of allowedFonts"><a (click)="setFontName(font)">{{font}}</a></li>
    </ul>
  </label>
</span>

<!--alignation-->
<div class="btn-group" role="group" aria-label="...">
  <button
    type="button" class="btn btn-default"
    [ngClass]="{'disabled':!alService.isMultiselection}"
    (click)="setAlignment('left')"
  ><i class="glyphicon glyphicon-align-left"></i></button>
  <button
    type="button" class="btn btn-default"
    [ngClass]="{'disabled':!alService.isMultiselection}"
    (click)="setAlignment('middle')"
  ><i class="glyphicon glyphicon-align-center"></i></button>
  <button
    type="button" class="btn btn-default"
    [ngClass]="{'disabled':!alService.isMultiselection}"
    (click)="setAlignment('right')"
  ><i class="glyphicon glyphicon-align-right"></i></button>
</div>


<!--Delete item-->
<button class="btn btn-default" [disabled]="!items.length" (click)="removeItems()"><span class="fa fa-trash-o"></span></button>
