:host{
  display: block;
  float: left;
  position: relative;
}

@media (min-width: 768px) {
  .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before, .uiw_btn-group-vertical > .uiw_btn-group:after, .uiw_btn-group-vertical > .uiw_btn-group:before, .uiw_btn-toolbar:after, .uiw_btn-toolbar:before {
    content: " ";
    display: table;
  }
  .clearfix:after, .container-fluid:after, .container:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after, .uiw_btn-group-vertical>.uiw_btn-group:after, .uiw_btn-toolbar:after {
    clear: both;
  }
}

.order-form-container{
  border: 1px solid #e5e5e5;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 762px;
  overflow: hidden;
  position: relative;
  width: 75%;

  height:0;
  transition: all 1s;
}

.order-form-container.active{
  height: auto;
}

.table-wrapper .table-tool {
  display: table;
  width: 100%;
}

.table-tool .table-body, .table-tool .table-caption {
  display: table-row;
}

.table-caption > .table-cell {
  width: 253px;
}

.table-tool .table-cell {
  background: #edf6fc;
  display: table-cell;
  padding: 9px 15px 8px;
  position: relative;
  vertical-align: top;
}

/*row*/
.table-tool .table-body, .table-tool .table-caption {
  display: table-row;
}

.table-caption + .table-body > .table-cell, .table-cell .table-caption > .table-cell {
  border-top: 1px solid #e5e5e5;
}

.table-cell .select-wrapper {
  min-height: 0;
  padding: 0;
}

.table-cell .select-wrapper {
  position: relative;
}

.table-tool.pdp-tool .table-cell .select-wrapper>label {
  line-height: 14px;
}
.table-cell .select-wrapper label {
  display: block;
  font-size: 14px;
}
input[type=button], input[type=submit], label {
  cursor: pointer;
}

.table-cell .select-wrapper select {
  border: 1px solid #e0e0e0;
  font-size: 13px;
  height: 20px;
  margin: 5px auto 10px;
  padding: 0 0 0 5px;
  width: 100%;
  color: #333;
}

.table-cell .select-wrapper select option {
  padding: 0 0 0 9px;
}
