<nav>
  <button type="button" (click)="changeTab($event, 'logos')">Logos</button>
  <button type="button" (click)="changeTab($event, 'lines')">Lines</button>
  <button type="button" (click)="changeTab($event, 'icons')">Icons</button>
</nav>

<div class="tab-content active" data-tab="logos">
  <card-logo-editor></card-logo-editor>
</div>

<div class="tab-content" data-tab="lines">
  <!--<card-hr-editor></card-hr-editor>-->
</div>

<div class="tab-content" data-tab="icons">
  <card-icon-editor></card-icon-editor>
</div>
