.unselectable * {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-wrap {
  display: block;
  float: left;
  overflow: hidden;
  background-color: darkgray;
  perspective: 1000px;
}

.business-card {
  position: relative;
  transform-style: preserve-3d;
}

.card-field {
  position: absolute;
}

.card-field span {
  cursor: default;
}

.card-field.selected-field {
  outline: 5px dashed darkgray;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.08);
}

/*.has-advanced-upload{*/
  /*background-color: #0000CC;*/
  /*outline: 1px dashed black;*/
  /*outline-offset: 3px;*/
/*}*/
.is-dragover {
  background-color: grey;
}

/*вид, если иконка поднята и ждем ее*/
.drop-wait{

}

/*иконка внесена в зону*/
.drag-in{

}
