<table class="table1">
  <tbody>
  <tr>
    <td class="td" style="background:#330000" onmouseover="this.className='hov2'" (click)="setColor('330000')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#331900" onmouseover="this.className='hov2'" (click)="setColor('331900')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#333300" onmouseover="this.className='hov2'" (click)="setColor('333300')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#193300" onmouseover="this.className='hov2'" (click)="setColor('193300')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#003300" onmouseover="this.className='hov2'" (click)="setColor('003300')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#003319" onmouseover="this.className='hov2'" (click)="setColor('003319')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#003333" onmouseover="this.className='hov2'" (click)="setColor('003333')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#001933" onmouseover="this.className='hov2'" (click)="setColor('001933')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#000033" onmouseover="this.className='hov2'" (click)="setColor('000033')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#190033" onmouseover="this.className='hov2'" (click)="setColor('190033')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#330033" onmouseover="this.className='hov2'" (click)="setColor('330033')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#330019" onmouseover="this.className='hov2'" (click)="setColor('330019')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#000000" onmouseover="this.className='hov2'" (click)="setColor('000000')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  <tr>
    <td class="td" style="background:#660000" onmouseover="this.className='hov2'" (click)="setColor('660000')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#663300" onmouseover="this.className='hov2'" (click)="setColor('663300')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#666600" onmouseover="this.className='hov2'" (click)="setColor('666600')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#336600" onmouseover="this.className='hov2'" (click)="setColor('336600')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#006600" onmouseover="this.className='hov2'" (click)="setColor('006600')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#006633" onmouseover="this.className='hov2'" (click)="setColor('006633')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#006666" onmouseover="this.className='hov2'" (click)="setColor('006666')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#003366" onmouseover="this.className='hov2'" (click)="setColor('003366')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#000066" onmouseover="this.className='hov2'" (click)="setColor('000066')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#330066" onmouseover="this.className='hov2'" (click)="setColor('330066')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#660066" onmouseover="this.className='hov2'" (click)="setColor('660066')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#660033" onmouseover="this.className='hov2'" (click)="setColor('660033')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#202020" onmouseover="this.className='hov2'" (click)="setColor('202020')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  <tr>
    <td class="td" style="background:#990000" onmouseover="this.className='hov'" (click)="setColor('990000')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#994C00" onmouseover="this.className='hov'" (click)="setColor('994C00')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#999900" onmouseover="this.className='hov'" (click)="setColor('999900')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#4C9900" onmouseover="this.className='hov'" (click)="setColor('4C9900')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#009900" onmouseover="this.className='hov'" (click)="setColor('009900')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#00994C" onmouseover="this.className='hov'" (click)="setColor('00994C')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#009999" onmouseover="this.className='hov'" (click)="setColor('009999')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#004C99" onmouseover="this.className='hov'" (click)="setColor('004C99')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#000099" onmouseover="this.className='hov'" (click)="setColor('000099')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#4C0099" onmouseover="this.className='hov'" (click)="setColor('4C0099')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#990099" onmouseover="this.className='hov'" (click)="setColor('990099')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#99004C" onmouseover="this.className='hov'" (click)="setColor('99004C')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#404040" onmouseover="this.className='hov'" (click)="setColor('404040')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  <tr>
    <td class="td" style="background:#CC0000" onmouseover="this.className='hov'" (click)="setColor('CC0000')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CC6600" onmouseover="this.className='hov'" (click)="setColor('CC6600')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CCCC00" onmouseover="this.className='hov'" (click)="setColor('CCCC00')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#66CC00" onmouseover="this.className='hov'" (click)="setColor('66CC00')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#00CC00" onmouseover="this.className='hov'" (click)="setColor('00CC00')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#00CC66" onmouseover="this.className='hov'" (click)="setColor('00CC66')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#00CCCC" onmouseover="this.className='hov'" (click)="setColor('00CCCC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#0066CC" onmouseover="this.className='hov'" (click)="setColor('0066CC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#0000CC" onmouseover="this.className='hov'" (click)="setColor('0000CC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#6600CC" onmouseover="this.className='hov'" (click)="setColor('6600CC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CC00CC" onmouseover="this.className='hov'" (click)="setColor('CC00CC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CC0066" onmouseover="this.className='hov'" (click)="setColor('CC0066')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#606060" onmouseover="this.className='hov'" (click)="setColor('606060')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  <tr>
    <td class="td" style="background:#FF0000" onmouseover="this.className='hov'" (click)="setColor('FF0000')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF8000" onmouseover="this.className='hov'" (click)="setColor('FF8000')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFFF00" onmouseover="this.className='hov'" (click)="setColor('FFFF00')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#80FF00" onmouseover="this.className='hov'" (click)="setColor('80FF00')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#00FF00" onmouseover="this.className='hov'" (click)="setColor('00FF00')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#00FF80" onmouseover="this.className='hov'" (click)="setColor('00FF80')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#00FFFF" onmouseover="this.className='hov'" (click)="setColor('00FFFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#0080FF" onmouseover="this.className='hov'" (click)="setColor('0080FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#0000FF" onmouseover="this.className='hov'" (click)="setColor('0000FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#7F00FF" onmouseover="this.className='hov'" (click)="setColor('7F00FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF00FF" onmouseover="this.className='hov'" (click)="setColor('FF00FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF007F" onmouseover="this.className='hov'" (click)="setColor('FF007F')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#808080" onmouseover="this.className='hov'" (click)="setColor('808080')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  <tr>
    <td class="td" style="background:#FF3333" onmouseover="this.className='hov'" (click)="setColor('FF3333')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF9933" onmouseover="this.className='hov'" (click)="setColor('FF9933')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFFF33" onmouseover="this.className='hov'" (click)="setColor('FFFF33')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#99FF33" onmouseover="this.className='hov'" (click)="setColor('99FF33')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#33FF33" onmouseover="this.className='hov'" (click)="setColor('33FF33')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#33FF99" onmouseover="this.className='hov'" (click)="setColor('33FF99')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#33FFFF" onmouseover="this.className='hov'" (click)="setColor('33FFFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#3399FF" onmouseover="this.className='hov'" (click)="setColor('3399FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#3333FF" onmouseover="this.className='hov'" (click)="setColor('3333FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#9933FF" onmouseover="this.className='hov'" (click)="setColor('9933FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF33FF" onmouseover="this.className='hov'" (click)="setColor('FF33FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF3399" onmouseover="this.className='hov'" (click)="setColor('FF3399')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#A0A0A0" onmouseover="this.className='hov'" (click)="setColor('A0A0A0')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  <tr>
    <td class="td" style="background:#FF6666" onmouseover="this.className='hov'" (click)="setColor('FF6666')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFB266" onmouseover="this.className='hov'" (click)="setColor('FFB266')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFFF66" onmouseover="this.className='hov'" (click)="setColor('FFFF66')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#B2FF66" onmouseover="this.className='hov'" (click)="setColor('B2FF66')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#66FF66" onmouseover="this.className='hov'" (click)="setColor('66FF66')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#66FFB2" onmouseover="this.className='hov'" (click)="setColor('66FFB2')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#66FFFF" onmouseover="this.className='hov'" (click)="setColor('66FFFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#66B2FF" onmouseover="this.className='hov'" (click)="setColor('66B2FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#6666FF" onmouseover="this.className='hov'" (click)="setColor('6666FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#B266FF" onmouseover="this.className='hov'" (click)="setColor('B266FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF66FF" onmouseover="this.className='hov'" (click)="setColor('FF66FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF66B2" onmouseover="this.className='hov'" (click)="setColor('FF66B2')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#C0C0C0" onmouseover="this.className='hov'" (click)="setColor('C0C0C0')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  <tr>
    <td class="td" style="background:#FF9999" onmouseover="this.className='hov'" (click)="setColor('FF9999')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFCC99" onmouseover="this.className='hov'" (click)="setColor('FFCC99')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFFF99" onmouseover="this.className='hov'" (click)="setColor('FFFF99')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CCFF99" onmouseover="this.className='hov'" (click)="setColor('CCFF99')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#99FF99" onmouseover="this.className='hov'" (click)="setColor('99FF99')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#99FFCC" onmouseover="this.className='hov'" (click)="setColor('99FFCC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#99FFFF" onmouseover="this.className='hov'" (click)="setColor('99FFFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#99CCFF" onmouseover="this.className='hov'" (click)="setColor('99CCFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#9999FF" onmouseover="this.className='hov'" (click)="setColor('9999FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CC99FF" onmouseover="this.className='hov'" (click)="setColor('CC99FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF99FF" onmouseover="this.className='hov'" (click)="setColor('FF99FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FF99CC" onmouseover="this.className='hov'" (click)="setColor('FF99CC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#E0E0E0" onmouseover="this.className='hov'" (click)="setColor('E0E0E0')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  <tr>
    <td class="td" style="background:#FFCCCC" onmouseover="this.className='hov'" (click)="setColor('FFCCCC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFE5CC" onmouseover="this.className='hov'" (click)="setColor('FFE5CC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFFFCC" onmouseover="this.className='hov'" (click)="setColor('FFFFCC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#E5FFCC" onmouseover="this.className='hov'" (click)="setColor('E5FFCC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CCFFCC" onmouseover="this.className='hov'" (click)="setColor('CCFFCC')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CCFFE5" onmouseover="this.className='hov'" (click)="setColor('CCFFE5')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CCFFFF" onmouseover="this.className='hov'" (click)="setColor('CCFFFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CCE5FF" onmouseover="this.className='hov'" (click)="setColor('CCE5FF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#CCCCFF" onmouseover="this.className='hov'" (click)="setColor('CCCCFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#E5CCFF" onmouseover="this.className='hov'" (click)="setColor('E5CCFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFCCFF" onmouseover="this.className='hov'" (click)="setColor('FFCCFF')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFCCE5" onmouseover="this.className='hov'" (click)="setColor('FFCCE5')" onmouseout="this.className='td'">&nbsp;</td>
    <td class="td" style="background:#FFFFFF" onmouseover="this.className='hov'" (click)="setColor('FFFFFF')" onmouseout="this.className='td'">&nbsp;</td>
  </tr>
  </tbody></table>
