<!--<div class="bc-page">-->

<!--Кнопки-->
  <nav>
  <div class="wrap">
    <div class="head-choice">
      <div class="step1">

        <div type="button" (click)="headChoice('editor')" class="text-center head-choice-btn"><button data-tab="editor" class="headerbtnchoice">Конструктор визиток</button></div>
        <div type="button" (click)="headChoice('design')" class="text-center head-choice-btn"><button data-tab="design" class="headerbtnchoice">Каталог дизайнов</button></div>

      </div>
    </div>
  </div>
  </nav>
<!--Слайдeр подсказок-->
  <card-hint-slider></card-hint-slider>

<!--То что отвечает за сам конструктор визитки-->

  <div class="tab-content active" data-tab="editor">
<!--Основной блок-->
    <router-outlet *ngIf="dataService.isDesignLoad"></router-outlet>
  </div>

<!--То что отвечает за каталог дизайнов-->

  <div class="tab-content" data-tab="design">
    <card-design-container (designSelected)="headChoice('editor')"></card-design-container>
  </div>

<!--Нижнее меню сохранить макет-->
  <card-control-container></card-control-container>



