:host {
  display: block;
  box-sizing: border-box;
  background: #e2e2e2;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 10%;
  padding-right: 10%;
}

mat-sidenav{
  max-width: 30%;
}

.all-wrap {
  min-height: 100vh;
  overflow: hidden;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mat-divider-vertical{
  display: inline;
}

.right{
  display: block;
  float: right;
}
