<div>
  <form #cardForm="ngForm">
    <div>
      <card-background-editor></card-background-editor><br>
      <card-style-editor [item]="selectedItem" (returnFocus)="onFocusReturn()"></card-style-editor>

      <div class="form-group">
        <ul>
          <li *ngFor="let item of model.texts; let i = index" class="input-group">
            <input
              type="text"
              class="form-control"
              name="owner"
              [(ngModel)]="item.text"
              (focus)="focusItem(item, $event)"
              (blur)="blurItem()">
            <a class="input-group-addon" (click)="addTextField(i)"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="input-group-addon" (click)="removeItem(i)"><i class="glyphicon glyphicon-minus"></i></a>
          </li>
          <li *ngIf="!model.texts || !model.texts.length">
            <input
              type="text"
              class="form-control" disabled>
            <a class="input-group-addon" (click)="addTextField(model.texts)"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="input-group-addon" disabled><i class="glyphicon glyphicon-minus"></i></a>
          </li>
        </ul>
      </div>

      <div class="form-group">
        <ul>
          <li *ngFor="let item of model.logos; let i = index" class="input-group">
            <input
              type="file"
              class="form-control"
              name="logo"
              (change)="uploadImage(item, $event)">
            <a class="input-group-addon" (click)="addLogo(model.logos, i)"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="input-group-addon" (click)="removeItem(model.logos, i)"><i class="glyphicon glyphicon-minus"></i></a>
          </li>
          <li *ngIf="!model.logos || !model.logos.length">
            <input
              type="text"
              class="form-control" disabled>
            <a class="input-group-addon" (click)="addLogo(model.logos)"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="input-group-addon" disabled><i class="glyphicon glyphicon-minus"></i></a>
          </li>
        </ul>
      </div>


      <div class="form-group">
        <ul>
          <li *ngFor="let item of model.lines; let i = index" class="input-group">
            <card-hr-editor [hr]="item"></card-hr-editor>
            <a class="input-group-addon" (click)="addLine(model.lines, i)"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="input-group-addon" (click)="removeItem(model.lines, i)"><i class="glyphicon glyphicon-minus"></i></a>
          </li>
          <li *ngIf="!model.lines || !model.lines.length">
            <input
              type="text"
              class="form-control" disabled>
            <a class="input-group-addon" (click)="addLine(model.lines)"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="input-group-addon" disabled><i class="glyphicon glyphicon-minus"></i></a>
          </li>
        </ul>
      </div>

    </div>

    <button type="button" class="btn btn-success" (click)="save()">Save design</button>
    <button type="button" class="btn btn-success" (click)="getPreview()">Preview</button>
    <button type="button" *ngIf="model.options.isEditable" (click)="delete()">Delete</button>

    <!--TODO удалить в релизе-->
    <button type="button" class="btn" (click)="adminSaveDesign()">Admin save design</button>

  </form>
</div>
<div #previewModalContainer></div>
