<h3>Order detail</h3>
<div>
  <h4>Price</h4>
  <input type="text"
         required pattern="^\d+\.?\d*$"
         [(ngModel)]="modelPrice" #price>
  <button type="button"
          [disabled]="!price.validity.valid"
          (click)="updatePrice(price.value)">Update Price
  </button>
</div>

<div *ngFor="let option of model" class="bc-creator-menu-order-detail">
  <input type="text" required [(ngModel)]="option.Name" #name="ngModel">
  <button type="button" (click)="deleteOption(option)">Remove option</button>
  <div class="bc-creator-menu-order-detail-option">

    <div *ngFor="let val of option.Values; let i=index;">
      <input type="text" [(ngModel)]="val.Value" required>
      <input type="text" [(ngModel)]="val.Rate" required pattern="^\d+\.?\d*$">
      <button type="button" (click)="deleteValue(option, val)" [disabled]="option.type=='fixed'">-</button>
    </div>

    <div *ngIf="option.type!=('fixed')">
      <input type="text" #newVal required ngModel>
      <input type="text" #newRate required pattern="^\d+\.?\d*$" ngModel>
      <button type="button"
              [disabled]="!newVal.validity.valid || !newRate.validity.valid"
              (click)="addValue(option, {Value:newVal.value, Rate:newRate.value}); newVal.value=''; newRate.value='';">
        +
      </button>
    </div>

  </div>
</div>
<button type="button" (click)="addOption()">Add option</button>

<button type="button" (click)="updateOrderOptions()" [disabled]="!isFormValid">Update options</button>

