<h3>Order detail</h3>
<div>
<h4>Price</h4>
  <input type="text" [value]="options.price" #price>
  <button type="button" (click)="updatePrice(price.value)">Update Price</button>
</div>

<div *ngFor="let option of model" class="bc-creator-menu-order-detail">
  <input type="text" [(ngModel)]="option.Name">
  <button type="button" (click)="deleteOption(option)">Remove option</button>
  <div class="bc-creator-menu-order-detail-option">

    <div *ngFor="let val of option.Values">
      <input type="text" [(ngModel)]="val.Value">
      <input type="text" [(ngModel)]="val.Rate">
      <button type="button" (click)="deleteValue(option, val)">-</button>
    </div>

    <div>
      <input type="text" #newVal>
      <input type="text" #newRate>
      <button type="button" (click)="addValue(option, {Value:newVal.value, Rate:newRate.value}); newVal.value=''; newRate.value='';">+</button>
    </div>

  </div>
</div>
<button type="button" (click)="addOption()">Add option</button>

<button type="button" (click)="orderOptionsUpdate()">Update</button>

