<!--toggleStyle-->
<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':(!items.length || !isTextStyling), 'active':(items.length && items[0].fontWeight=='bold')}"
  (click)="toggleStyle('fontWeight')"><b>B</b></button>
<button
  class="btn btn-default btn-sm"
  [ngClass]="{'disabled':(!items.length || !isTextStyling), 'active':(items.length && items[0].fontStyle=='italic')}"
  (click)="toggleStyle('fontStyle')"><i>I</i></button>

<!--font name-->
<span class="dropdown">
  <button
    [disabled]="!items.length || !isTextStyling"
    [ngClass]="{'disabled':(!items.length || !isTextStyling)}"
  ><span>{{textFont}}</span></button>
  <label>
    <input type="checkbox" [disabled]="!items.length || !isTextStyling">
    <ul *ngIf="items.length">
      <li *ngFor="let font of allowedFonts"><a (click)="setFontName(font)">{{font}}</a></li>
    </ul>
  </label>
</span>




