<div class="btn-group" role="group" aria-label="...">
  <div class="btn-group step3btn-group-size">
    <button type="button" class="">Размер {{background.width_mm}}x{{background.height_mm}}</button>
    <button type="button" class="dropdown-toggle dropdown-attr" (click)="isSizesShow=!isSizesShow" >
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu menu-attr" [ngClass]="{'show': isSizesShow}">
      <li *ngFor="let size of allowedSizes; let i=index"><a (click)="updateCardSize(i)">{{size.width}}x{{size.height}}</a></li>
    </ul>

    <div class="btn-group step3btn-group-color">
      <button class="">
        <div class="background-color-preview" [ngStyle]="{'background-color': background.backgroundColor}"></div></button>
      <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <card-color-picker (colorSelected)="setColor($event)"></card-color-picker>
      </ul>
    </div>

    <div class="btn-group step3btn-group-pic">
      <div class="background-image-upload">
        <label for="background-image-input" class="">Выбрать изображение</label>
        <input type="file" id="background-image-input" (change)="uploadImage($event)">
      </div>
      <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <a (click)="removeBeckgroundImage()">none</a>
      </ul>
    </div>
  </div>
</div>
