.background-color-preview{
  width: 30px;
  height: 18px;
  border: 1px solid black;
}

.background-image-upload{
  width: auto;
  height: 20px;
  float: left;
}

#background-image-input{
  display: none;
}

.step3btn-group-size {
  display: flex;
}

.step3btn-group-color {
  display: flex;
}

.step3btn-group-pic {
  display: flex;
}
