<nav>
  <button type="button"
          (click)="changeTab('Text')"
          [ngClass]="{'active':tabService.activeEditorTab=='Text'}">Text Fields</button>
  <button type="button"
          (click)="changeTab('Logo')"
          [ngClass]="{'active':tabService.activeEditorTab=='Logo'}">Logos</button>
  <button type="button"
          (click)="changeTab('Line')"
          [ngClass]="{'active':tabService.activeEditorTab=='Line'}">Lines</button>
  <button type="button"
          (click)="changeTab('Icon')"
          [ngClass]="{'active':tabService.activeEditorTab=='Icon'}">Icons</button>
</nav>

<card-styling-container></card-styling-container>

<div class="tab-content" [ngClass]="{'active':tabService.activeEditorTab=='Text'}">
  <card-text-editor></card-text-editor>
</div>

<div class="tab-content" [ngClass]="{'active':tabService.activeEditorTab=='Logo'}">
  <card-logo-editor></card-logo-editor>
</div>

<div class="tab-content" [ngClass]="{'active':tabService.activeEditorTab=='Line'}">
  <card-hr-editor></card-hr-editor>
  <button class="btn btn-default btn-sm" (click)="addHr()">Add line</button>
</div>

<div class="tab-content" [ngClass]="{'active':tabService.activeEditorTab=='Icon'}">
  <card-icon-editor></card-icon-editor>
</div>
