<mat-tab-group [dynamicHeight]="true" [(selectedIndex)]="tabService.editorTabIndex">

  <mat-tab label="{{i18n.get('editor.tabs.textFields')}}">
    <card-styling-container></card-styling-container>
    <card-text-editor></card-text-editor>
  </mat-tab>

  <mat-tab label="{{i18n.get('editor.tabs.logos')}}">
    <card-styling-container></card-styling-container>
    <card-logo-editor></card-logo-editor>
  </mat-tab>

  <mat-tab label="{{i18n.get('editor.tabs.lines')}}">
    <card-styling-container></card-styling-container>
    <card-hr-editor></card-hr-editor>
  </mat-tab>

  <mat-tab label="{{i18n.get('editor.tabs.icons')}}">
    <card-styling-container></card-styling-container>
    <card-icon-editor></card-icon-editor>
  </mat-tab>

</mat-tab-group>
