:host{
  display: block;
}
/*
div{
  float:left;
}
*/

/*Общее поле*/
.col {
  display: flex;
  border: 1px solid red;
}
/*Колонка1*/
.col1 {
  width: 70%;
  padding-right: 7px;
}
.col2 {
  height: auto;
  width: 30%;
  padding-left: 7px;
}

.step3 {
  display: flex;
  justify-content: space-around;
  height: 30px;
  margin-bottom: 30px;
}
