<!--Старая структура-->
<!--Переключение сторон визитки-->

<card-side-switch></card-side-switch>

<!--/Old structure-->








<!--New structure-->
<!--Основной блок-->
<div class="col">
  <div class="col1">

    <div class="step3">
      <card-front-back></card-front-back>
      <card-background-editor></card-background-editor>
    </div>

  </div>

  <div class="col2">
    <card-editor-container></card-editor-container>
  </div>
</div>
<!--/Основной блок-->


<!--Переключение сторон визитки-->

<card-side-switch></card-side-switch>

<!--Перенес на side-switch.component-->
<!--
<div>
  <card-result></card-result>
</div>
-->


<!--Вывел его на appComponent-->
<!--
<div>
  <card-editor-container></card-editor-container>
</div>
-->
