:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid red;
  padding-right: 7px;
}

:host::before, :host::after {
  content: '';
  width: 100%;
  order: 1;
}

.step3 {
  display: flex;
  justify-content: space-around;
  height: 30px;
  margin-bottom: 30px;
}

.step4 {
  width: 50%;
  order: 1;
}

.step5 {
  order: 2;
}
