<!--Основной блок-->
<div class="col">
<!--Первая колонка с визиткой и инструментами-->
  <div class="col1">
<!--Переключатель одна-две стороны-->
    <div class="step2">
      <div class="switchblock">
        <p>Одна сторона</p><card-side-switch></card-side-switch><p>Две стороны</p>
      </div>
      <div class="switchblock2">
        <!--new buttoms portret-landskape-->
        <!-- 2nd switch -->
        <p>Горизонтальная ориентация</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
        <p>Вертикальная ориентация</p>
      </div>

    </div>
<!--Переключатель сторон визитки-->
<!--Инструменты размер визитки, фон, цвет-->
    <div class="step3">
      <card-front-back></card-front-back>
      <card-background-editor></card-background-editor>
    </div>
<!--Блок визитки-->
    <div class="step4" data-result-size>
        <card-result></card-result>
    </div>
<!--Инструменты линия, графика, лого-->
    <div class="step5">
        <card-graphics-container></card-graphics-container>
    </div>
  </div>
<!--Вторая колонка с текстовыми инструментами-->
  <div class="col2">
    <card-editor-container></card-editor-container>
  </div>
</div>

