<div class="btn-group">
  <span>Design</span><br>
  <div>
    <hr class="preview"
        [ngStyle]="{
        'border-top-style': lines.length? lines[0].design : options.settings.allowedHrDesigns[0]
        }">
  </div>
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let design of options.settings.allowedHrDesigns">
      <a (click)="updateHr('design' ,design)">
        <hr [style.border-top]="design">
      </a></li>
  </ul>
</div>

<div class="btn-group">
  <span>Thickness</span><br>
  <div>
    <hr class="preview" [ngStyle]="{
           'border-top-style': lines.length? lines[0].design : options.settings.allowedHrDesigns[0],
           'border-top-width.px': lines.length? lines[0].thickness : 1}">
  </div>
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let thickness of [1, 2, 3, 4, 5]">
      <a (click)="updateHr('thickness', thickness)">
        <hr [style.border-width.px]="thickness">
      </a></li>
  </ul>
</div>

<div class="btn-group">
  <span>Color</span><br>
  <div>
    <hr class="preview" [ngStyle]="{
    'border-top-style': lines.length? lines[0].design : options.settings.allowedHrDesigns[0],
    'border-top-color': lines.length? lines[0].color : '#000'}">
  </div>
  <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <card-color-picker (colorSelected)="updateHr('color', $event)"></card-color-picker>
  </ul>
</div>

<button class="btn btn-default btn-sm" (click)="changeOrientation()"><i class="glyphicon glyphicon-repeat"></i>
</button>
