<button mat-button [matMenuTriggerFor]="cardLogoColor">
  Overlay color
  <i class="fa fa-image"></i>
</button>
<mat-menu #cardLogoColor="matMenu">
  <card-color-picker (colorSelected)="setColor($event)"></card-color-picker>
</mat-menu>

<mat-divider vertical="true"></mat-divider>

<span>Opacity </span>
<mat-slider max="1"
            min="0"
            step="0.01"
            [(ngModel)]="logoField.opacity"></mat-slider>
<span>{{logoField.opacity}}</span>

<mat-divider vertical="true"></mat-divider>

<div class="rotate">
  <span>Rotate </span>
  <button mat-icon-button (click)="rotate(+90)"><i class="fa fa-undo" data-fa-transform="flip-h"></i></button>
  <button mat-icon-button (click)="rotate(-90)"><i class="fa fa-undo"></i></button>
</div>

<card-image-import [isLogo]="true" (dataUrlReady)="replace($event)"></card-image-import>
